.corpo {
    height:2040em;
    background: 
                url(../img/desktop/bgs/BG_01.jpg) top left / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_02.jpg) 0px 25.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_03.jpg) 0px 51em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_04.jpg) 0px 76.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_05.jpg) 0px 102em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_06.jpg) 0px 127.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_07.jpg) 0px 153em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_08.jpg) 0px 178.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_09.jpg) 0px 204em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_10.jpg) 0px 229.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_11.jpg) 0px 255em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_12.jpg) 0px 280.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_13.jpg) 0px 306em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_14.jpg) 0px 331.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_15.jpg) 0px 357em/ 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_16.jpg) 0px 382.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_17.jpg) 0px 408em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_18.jpg) 0px 433.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_19.jpg) 0px 459em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_20.jpg) 0px 484.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_21.jpg) 0px 510em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_22.jpg) 0px 535.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_23.jpg) 0px 561em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_24.jpg) 0px 586.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_25.jpg) 0px 612em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_26.jpg) 0px 637.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_27.jpg) 0px 663em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_28.jpg) 0px 688.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_29.jpg) 0px 714em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_30.jpg) 0px 739.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_31.jpg) 0px 765em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_32.jpg) 0px 790.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_33.jpg) 0px 816em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_34.jpg) 0px 841.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_35.jpg) 0px 867em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_36.jpg) 0px 892.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_37.jpg) 0px 918em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_38.jpg) 0px 943.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_39.jpg) 0px 969em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_40.jpg) 0px 994.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_41.jpg) 0px 1020em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_42.jpg) 0px 1045.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_43.jpg) 0px 1071em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_44.jpg) 0px 1096.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_45.jpg) 0px 1122em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_46.jpg) 0px 1147.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_47.jpg) 0px 1173em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_48.jpg) 0px 1198.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_49.jpg) 0px 1224em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_50.jpg) 0px 1249.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_51.jpg) 0px 1275em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_52.jpg) 0px 1300.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_53.jpg) 0px 1326em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_54.jpg) 0px 1351.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_55.jpg) 0px 1377em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_56.jpg) 0px 1402.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_57.jpg) 0px 1428em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_58.jpg) 0px 1453.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_59.jpg) 0px 1479em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_60.jpg) 0px 1504.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_61.jpg) 0px 1530em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_62.jpg) 0px 1555.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_63.jpg) 0px 1581em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_64.jpg) 0px 1606.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_65.jpg) 0px 1632em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_66.jpg) 0px 1657.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_67.jpg) 0px 1683em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_68.jpg) 0px 1708.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_69.jpg) 0px 1734em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_70.jpg) 0px 1759.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_71.jpg) 0px 1785em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_72.jpg) 0px 1810.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_73.jpg) 0px 1836em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_74.jpg) 0px 1861.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_75.jpg) 0px 1887em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_76.jpg) 0px 1912.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_77.jpg) 0px 1938em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_78.jpg) 0px 1963.5em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_79.jpg) 0px 1989em / 100em 25.5em no-repeat,
                url(../img/desktop/bgs/BG_80.jpg) 0px 2014.5em / 100em 25.5em no-repeat;
                
} 

@media only screen and (max-width: 768px){
.corpo {
    height: 1181.25em;
    background: url(../img/mobile/fatias/mob_fatia_01.jpg) top left / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_02.jpg) 0px 28.125em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_03.jpg) 0px 56.25em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_04.jpg) 0px 84.375em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_05.jpg) 0px 112.5em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_06.jpg) 0px 140.625em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_07.jpg) 0px 168.75em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_08.jpg) 0px 196.875em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_09.jpg) 0px 225em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_10.jpg) 0px 253.125em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_11.jpg) 0px 281.25em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_12.jpg) 0px 309.375em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_13.jpg) 0px 337.5em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_14.jpg) 0px 365.625em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_15.jpg) 0px 393.75em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_16.jpg) 0px 421.875em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_17.jpg) 0px 450em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_18.jpg) 0px 478.125em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_19.jpg) 0px 506.25em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_20.jpg) 0px 534.375em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_21.jpg) 0px 562.5em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_22.jpg) 0px 590.625em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_23.jpg) 0px 618.75em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_24.jpg) 0px 646.875em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_25.jpg) 0px 675em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_26.jpg) 0px 703.125em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_27.jpg) 0px 731.25em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_28.jpg) 0px 759.375em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_29.jpg) 0px 787.5em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_30.jpg) 0px 815.625em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_31.jpg) 0px 843.75em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_32.jpg) 0px 871.875em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_33.jpg) 0px 900em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_34.jpg) 0px 928.125em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_35.jpg) 0px 956.25em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_36.jpg) 0px 984.375em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_37.jpg) 0px 1012.5em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_38.jpg) 0px 1040.625em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_39.jpg) 0px 1068.75em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_40.jpg) 0px 1096.875em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_41.jpg) 0px 1125em / 23.5em 28.125em no-repeat,
                url(../img/mobile/fatias/mob_fatia_42.jpg) 0px 1153.125em / 23.5em 28.125em no-repeat;
}
}