:root{
    --cor-textos: #333;
    --cor-titulo:rgb(255, 255, 255);
    --font-textos-family: 'Segoe ui', sans-serif;
    --font-textos-weight: 600;
    --font-titulos-weight: 700;
    /* --font-titulo: 'Archivo Black', sans-serif; */
    /* --paletta-amarelo-base: #E5BC5E;
    --paletta-amarelo-hover: #c5a04b;
    --paletta-azul-base: #193752;
    --paletta-azul-hover: #2b577c;
    --paletta-verde-claro: #8FC4B6;
    --paletta-verde-meiotom: #69A696;
    --paletta-verde-escuro: #3D796A;
    --feedback-positivo: #7ED957;
    --feedback-negativo: #FF7C7C; */
  }

.seminteracao {
    pointer-events: none;
    touch-action: none;
    user-select: none;
}

.zindex-1 {
    z-index: 1;
}
.zindex-2 {
    z-index: 2;
}
.zindex-3 {
    z-index: 3;
}
.zindex-4 {
    z-index: 4;
}