@import "bgs.css";
@import "tags.css"; 
@import "config.css";
@import "secao.css";
@import "elementos.css";
@import "titles.css";
@import "personagem.css";


html, body {
height: 100%;
}

body {
    margin: 0px;
    padding: 0px;  
    
                     
}
#app {
  height: 100%;
}
.corpo {
    width: 100em;
    font-size: 1vw;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    transform-origin: left top;

}

/* logotipo */
#logo
{
  width: 47.375em;
  position: relative;
  left: 25.95em;
  top: 2.375em;
  display: block;
}

/* tag rolar */
#tag_rolar
{
  display: block;
  max-width: 31em;
  position: relative;
  left: 35em;
  top: 2.5em;
}

/* Textos */

#textointro
{
  background: url(../img/desktop/elementos/painel.png) top left / 100% auto no-repeat;
  display: block;
  width: 46.8em;
  height: 39em;
  position: relative;
  left: 24em;
  top: 0em;
}
#textointro::before
{
  content: "";
  width: 100%;
  height: auto;
  padding-top: 82%;
  z-index: 1;
  display: block;
  position: relative;
}

#textointro .paragrafos
{
  position: absolute;
  top: 12.5em;
  left: 16.7em;
  width: 23.3em;
  transform: rotate(-6deg);
}

#textointro .paragrafos p {
    font-family: var(--font-textos-family);
    font-weight: var(--font-textos-weight);
    color: var(--cor-textos);
}

#textofinal
{
  position: absolute;
  top: 1810em;
  left: 24em;
  font-size: 1vw;
  width: 46em;
}

#textofinal h3 {
  font-family: var(--font-textos-family);
  font-weight: var(--font-titulos-weight);
  
  font-size: 40px;
}

#textofinal p {
  font-family: var(--font-textos-family);
  font-weight: var(--font-textos-weight);
  font-size: 30px;
}

#textofinal .paragrafo1
{
  position: relative;
  width: 27em;
  top: 3em;
  left: 6em;
  font-size: 1.9vw;
}

#textofinal .paragrafo2
{
  position: relative;
  top: 7em;
  left: 11em;
  width: 24em;
  font-size: 1.9vw;
}

/* Loader */
.loader {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  width: 1px;
  height: 1px;
  position: fixed;
  top: -100vh;
  left: -100vw;
}