#mirella {
    width: 21.84375em; /* 349.5px */
    height: 30.75em; /* 556px */
    display: block;
    position: fixed;
    overflow: hidden;
    background-size: auto 100%;
    background-repeat: no-repeat;
    top: 10em;
    left: 43em;
    
    
}
#mirella.fixa {
    position: absolute;
    
}
#mirella.fixa.inicial {
    top: 40em;
}
#mirella.fixa.final {
    top: 1750em;
}
#mirella.frente 
{
    background-image: url(../img/desktop/mirella/idle_frente.png);
}
#mirella.costas
{
    background-image: url(../img/desktop/mirella/idle_costas.png);
}
#mirella.caminhando{
    animation-name: caminhando;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(12);
}
#mirella.caminhando.frente{
    background-image: url(../img/desktop/mirella/frente.png);
}
#mirella.caminhando.costas{
    background-image: url(../img/desktop/mirella/costas.png);
}

/* Caminhando - Frente */
@keyframes caminhando {
    from { background-position:    0em; }
    to { background-position: -232.35em; }
 }