/* Tiles */
.titles {
  position: absolute;
}
#title_intro
{
width: 43.75em;
margin-left: 13.75em;
}
#title_cultura
{
  width: 43em;
  height: auto;
  top: 416.25em;
  left: 8.25em;
}
#title_midia
{
  width: 51em;
  top: 680.25em;
  right: 2.25em;
} 
#title_criacoes
{
  top: 836.875em;
  right: 0em;
  width: 53.29em;
}
#title_tecnologia
{
  top: 1130.125em;
  left: 0em;
  width: 46.95em;
}
#title_conclusao
{
  top: 1434.75em;
  left: 0em;
  width: 47.75em;
}