.btnFechar {
    color: #fff;
    clear: both;
}

.imgCentro {
    margin-top: 3%;
    /* position: absolute;
    left: 32%;
    width: 35%; */
}

#btIniciar {
    position: relative;
    margin-top: 1%;
}

#btIniciar:hover {
    transform: scale(1.1);
}

.titulo {
    margin: auto;
    display: block;
    position: relative;
    right: -461px;
    top: 75px;
    color: #fff;
}

.img-titulo {
    margin-top: 4%;
    position: relative;
}

.img-titulo2 {
    margin-top: 4%;
    position: relative;
}

.titulo2 {
    margin: auto;
    display: block;
    position: absolute;
    right: 50px;
    bottom: 20px;
    color: #fff;
}

.img-capa {
    left: 0%;
    top: 42%;
    width: 100%;
    position: absolute;
}

#videoplay {
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 70%;
}

#logo {
    position: absolute;
    right: 45px;
    margin-top: -18px;
    width: 100px;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url('../design/capa/bg-capa.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    background-attachment: fixed;
}

.menu {
    position: absolute;
    bottom: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu a {
    width: 382px;
    height: 273px;
    display: block;
    background-position: center;
}

.imgVideo {
    margin-left: 0px;
    margin-top: -42px;
    position: absolute;
    background: url('../design/capa/Video_apresentacao_pq_layout.png') no-repeat;
    background-size: 100%;
    width: 236px;
    height: 226px;
    border: none;
    transition: all 0.2s;
}

.img-video {
    margin-left: 5%;
    margin-top: 10%;
    position: absolute;
    background: url('../design/capa/video_mobile.png') no-repeat;
    background-size: 100%;
    width: 321px;
    height: 66px;
    border: none;
    transition: all 0.2s;
}

.imgVideo:hover {
    transform: scale(1.05);
}

.modal-dialog:not(.modal-fullscreen) {
    border-radius: 0;
}

.modal-dialog:not(.modal-fullscreen) .btn-close {
    color: white;
    font-size: 1.5rem;
    line-height: 0;
}

.modal-dialog:not(.modal-fullscreen) .modal-content {
    border-radius: 0;
}

.modal-dialog .modal-header {
    border-bottom: 0;
}

.modal-dialog:not(.modal-fullscreen) .modal-header {
    color: white;
    background-color: #00838D;
    border-radius: 0;
    border-bottom: 0;
}

.modal-dialog .modal-footer {
    border: 0;
    border-top: 0;
    padding: 0;
    padding-bottom: 10px;
}

.ytb {
    width: 560px;
    height: 315px;
    display: block;
    margin: 25px auto;
    max-width: 100%;
}

.backdrop {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, .9);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-intro {
    background-image: url('../design/capa/Video-apresentacao-gd.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-intro p {
    margin-top: -70px;
    color: white;
}

.footer {
    display: flex;
    justify-content: end;
    width: 480px;
    padding-top: 10px;
}

.botao-fechar,
.botao-fechar-2 {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: 2px 1px 3px #333;
}

.botao-fechar:hover,
.botao-fechar-2:hover {
    transform: translateY(-3px);
}

.img-play {
    height: 100px;
    margin-left: 22px;
}

#logoMobile {
    position: absolute;
    right: 10px;
    width: 20%;
}

.show-desk {
    display: block;
}

.show-mobi {
    display: none;
}

.img-titulo2 {
    display: none !important;
}

@media screen and (min-width:2400px) {
    .img-capa {
        left: 0%;
        top: 75%;
        width: 100%;
        position: absolute;
    }

    #btIniciar {
        position: relative;
        top: -590px;
    }
}



@media screen and (min-width:1920px) {
    .titulo {
        margin: auto;
        display: block;
        position: relative;
        right: -678px;
        top: 75px;
        color: #fff;
    }
}




@media only screen and (max-width:1440px) {
    .img-capa {
        left: 0%;
        top: 54%;
    }

    .imgCentro {
        margin-top: 2%;
    }

}

@media only screen and (max-width:1400px) {
    .img-capa {
        left: 0%;
        top: 62%;
    }

    .imgCentro {
        margin-top: 5%;
    }

    #btIniciar {
        position: relative;
        margin-top: 3%;
    }
}

@media only screen and (max-width:1366px) {
    .img-capa {
        left: 0%;
        top: 50%;
    }

    .imgCentro {
        margin-top: -5px;
        scale: 0.8;
    }

    #btIniciar {
        position: relative;
        margin-top: -2%;
    }

    .img-titulo {
        margin-top: 3%;
        position: relative;
    }
}

@media only screen and (max-width:1024px) {
    .imgCentro {
        margin-top: 11%;
        position: fixed;
        left: 2%;
        width: 97%;
    }

    #btIniciar {
        position: relative;
        top: 119px;
        width: 12%;
        right: 26px;
    }

    .img-capa {
        left: 0%;
        top: 79%;
        width: 100%;
        position: absolute;
    }

    .imgVideo {
        width: 13%;
        top: 2%
    }

    #logo {
        top: 2%;
        width: 9%
    }

    .titulo {
        margin: auto;
        display: block;
        position: relative;
        right: -249px;
        top: 75px;
        color: #fff;
    }
}




@media only screen and (max-width:820px) {
    .imgCentro {
        margin-top: 65%;
        left: 1%;
        position: fixed !important;
    }

    .img-capa {
        left: 0%;
        top: 79%;
        width: 100%;
        position: absolute;
    }

    .imgVideo {
        width: 15%;
        top: 2%
    }

    #logo {
        top: 52%;
        margin-right: 42%;
        scale: 2.0;
    }

    #btIniciar {
        position: relative;
        margin-top: -6%;
        scale: 2.5;
    }

    .img-titulo {
        margin-top: 14%;
        position: relative;
    }

    .img-video {
        margin-left: 27%;
        margin-top: 40%;
        position: absolute;
        scale: 2.0;
    }


}

@media screen and (max-width:820px) {
    .modal-intro {
        background-size: 30%;
        background-position: center;
        background: unset;
        max-width: 100%;
        padding: 50px;
        background: #007981;
    }

    /* .imgVideo {
        margin-left: 40px;
    } */
    .show-desk {
        display: none;
    }

    .show-mobi {
        display: block;
    }



}

@media only screen and (max-width:768px) {

    .titulo2 {
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    #btIniciar {
        position: relative;
        margin-top: -11%;
    }

    .titulo {
        margin: auto;
        display: block;
        position: relative;
        left: 5%;
        top: 149px;
        color: #fff;
    }

    .img-video {
        margin-left: 27%;
        margin-top: 34%;
        position: absolute;
        scale: 1.5;
    }

    .imgCentro {
        margin-top: 56%;
        left: 1%;
        position: fixed !important;
    }

}

@media only screen and (max-width:414px) {
    .imgCentro {
        margin-top: 87% !important;
    }

    #logo {
        top: 52%;
        margin-right: 33%;
        scale: 2.4;
    }

    .imgVideo {
        width: 21% !important;
        top: 2%;
    }

    .footer {
        justify-content: center !important;
    }

    #btIniciar {
        position: relative;
        margin-top: -21%;
        left: 0%;
        scale: 3.0;
    }

    .img-video {
        margin-left: 11%;
        margin-top: 50%;
        position: absolute;
        scale: 1.2;
    }

    .img-titulo {
        display: none !important;
    }

    .img-titulo2 {
        display: block !important;
    }

    .img-titulo2 {
        margin-top: 9%;
        position: relative;
    }
}

@media only screen and (max-width:375px) {
    .imgCentro {
        margin-top: 114% !important;
    }

    .img-video {
        margin-left: 7%;
        margin-top: 62%;
        position: absolute;
        scale: 1.1;
    }


}